<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Delete</key>
		<array/>
		<key>Patch</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>FadtEnableReset</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetLogoStatus</key>
			<false/>
			<key>NormalizeHeaders</key>
			<false/>
		</dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSDT-UIAC.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-UIAC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-EC-USBX.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC-USBX.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-AWAC.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-AWAC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-PLUG.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 -no_compat_check agdpmod=pikera alcid=1 darkwake=1</string>
	</dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>SignalAppleOS</key>
			<false/>
			<key>ProtectUefiServices</key>
			<true/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>DevirtualiseMmio</key>
			<true/>
			<key>SyncRuntimePermissions</key>
			<true/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>DisableSingleUser</key>
			<false/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>SetupVirtualMap</key>
			<false/>
			<key>ProtectMemoryRegions</key>
			<false/>
			<key>RebuildAppleMemoryMap</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Security</key>
		<dict>
			<key>BootProtect</key>
			<string>None</string>
			<key>AuthRestart</key>
			<false/>
			<key>Vault</key>
			<string>Optional</string>
			<key>AllowNvramReset</key>
			<true/>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>AllowSetDefault</key>
			<true/>
			<key>SecureBootModel</key>
			<string>Disabled</string>
			<key>ExposeSensitiveData</key>
			<integer>2</integer>
		</dict>
		<key>Boot</key>
		<dict>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
			<key>HideAuxiliary</key>
			<false/>
			<key>PollAppleHotKeys</key>
			<false/>
			<key>PickerAudioAssist</key>
			<false/>
			<key>HibernateMode</key>
			<string>None</string>
			<key>ShowPicker</key>
			<true/>
			<key>PickerAttributes</key>
			<integer>1</integer>
			<key>PickerMode</key>
			<string>External</string>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>Timeout</key>
			<integer>5</integer>
		</dict>
		<key>Entries</key>
		<array/>
		<key>Tools</key>
		<array/>
		<key>Debug</key>
		<dict>
			<key>Target</key>
			<integer>3</integer>
			<key>ApplePanic</key>
			<false/>
			<key>SerialInit</key>
			<false/>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
			<key>SysReport</key>
			<false/>
			<key>AppleDebug</key>
			<true/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>DisableWatchDog</key>
			<true/>
		</dict>
		<key>BlessOverride</key>
		<array/>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string></string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>6zMPtw==</data>
				<key>Comment</key>
				<string>ASUS F1 patch fix</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>dTMPtw==</data>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Identifier</key>
				<string>com.apple.driver.AppleRTC</string>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Add</key>
		<array>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>FakePCIID.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/FakePCIID</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>FakePCIID_Intel_HDMI_Audio.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>IntelMausi.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelMausi</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>LucyRTL8125Ethernet.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/LucyRTL8125Ethernet</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCSuperIO</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>BundlePath</key>
				<string>XHCI-unsupported.kext</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmCfgLock</key>
			<false/>
			<key>PanicNoKextDump</key>
			<true/>
			<key>DisableIoMapper</key>
			<false/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>DisableRtcChecksum</key>
			<false/>
			<key>DummyPowerManagement</key>
			<false/>
			<key>AppleCpuPmCfgLock</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>AppleXcpmExtraMsrs</key>
			<false/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>CustomSMBIOSGuid</key>
			<false/>
			<key>ThirdPartyDrives</key>
			<false/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>XhciPortLimit</key>
			<false/>
			<key>AppleXcpmForceBoost</key>
			<false/>
		</dict>
		<key>Block</key>
		<array/>
		<key>Emulate</key>
		<dict>
			<key>Cpuid1Data</key>
			<data></data>
			<key>Cpuid1Mask</key>
			<data></data>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>LegacyOverwrite</key>
		<false/>
		<key>LegacyEnable</key>
		<false/>
		<key>Delete</key>
		<dict/>
		<key>LegacySchema</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>EFILoginHiDPI</string>
				<string>EFIBluetoothDelay</string>
				<string>LocationServicesEnabled</string>
				<string>SystemAudioVolume</string>
				<string>SystemAudioVolumeDB</string>
				<string>SystemAudioVolumeSaved</string>
				<string>bluetoothActiveControllerInfo</string>
				<string>bluetoothInternalControllerInfo</string>
				<string>flagstate</string>
				<string>fmm-computer-name</string>
				<string>nvda_drv</string>
				<string>prev-lang:kbd</string>
			</array>
			<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
			<array>
				<string>Boot0080</string>
				<string>Boot0081</string>
				<string>Boot0082</string>
				<string>BootNext</string>
				<string>BootOrder</string>
			</array>
		</dict>
		<key>WriteFlash</key>
		<true/>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>igfxfw=2 agdpmod=pikera</string>
				<key>csr-active-config</key>
				<data>5wMAAA==</data>
				<key>prev-lang:kbd</key>
				<data>emgtSGFuczoyNTI=</data>
				<key>SystemAudioVolume</key>
				<data>Rg==</data>
			</dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>Ag==</data>
				<key>DefaultBackgroundColor</key>
				<data>AAAAAA==</data>
			</dict>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<dict>
				<key>rtc-blacklist</key>
				<data></data>
			</dict>
		</dict>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Output</key>
		<dict>
			<key>SanitiseClearScreen</key>
			<false/>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
			<key>ConsoleMode</key>
			<string>Max</string>
			<key>DirectGopRendering</key>
			<false/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>UgaPassThrough</key>
			<false/>
			<key>Resolution</key>
			<string>Max</string>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>APFS</key>
		<dict>
			<key>MinVersion</key>
			<integer>0</integer>
			<key>GlobalConnect</key>
			<false/>
			<key>EnableJumpstart</key>
			<true/>
			<key>HideVerbose</key>
			<true/>
			<key>MinDate</key>
			<integer>0</integer>
			<key>JumpstartHotPlug</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>MinimumVolume</key>
			<integer>20</integer>
			<key>AudioOut</key>
			<integer>0</integer>
			<key>VolumeAmplifier</key>
			<integer>0</integer>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>PlayChime</key>
			<false/>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1F,0x3)</string>
			<key>AudioSupport</key>
			<false/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>DeduplicateBootOrder</key>
			<false/>
			<key>IgnoreInvalidFlexRatio</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>ReleaseUsbOwnership</key>
			<false/>
			<key>TscSyncTimeout</key>
			<integer>0</integer>
			<key>UnblockFsConnect</key>
			<false/>
		</dict>
		<key>Input</key>
		<dict>
			<key>PointerSupport</key>
			<false/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>KeyFiltering</key>
			<false/>
			<key>KeySupport</key>
			<true/>
			<key>TimerResolution</key>
			<integer>50000</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySwap</key>
			<false/>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>PointerSupportMode</key>
			<string></string>
		</dict>
		<key>ReservedMemory</key>
		<array/>
		<key>ProtocolOverrides</key>
		<dict>
			<key>HashServices</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
			<key>AppleFramebufferInfo</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>AppleSmcIo</key>
			<false/>
			<key>DataHub</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleRtcRam</key>
			<false/>
			<key>AppleAudio</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleDebugLog</key>
			<false/>
			<key>FirmwareVolume</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
		</dict>
		<key>Drivers</key>
		<array>
			<string>HfsPlus.efi</string>
			<string>OpenCanopy.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>device-id</key>
				<data>SKMAAA==</data>
				<key>layout-id</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwDImw==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>ATY,Copyright</key>
				<string>Copyright AMD Inc. All Rights Reserved. 2005-2019</string>
				<key>@2,name</key>
				<string>ATY,Adder</string>
				<key>ATY,EFIVersionB</key>
				<string>113-D1820501-101</string>
				<key>@1,name</key>
				<string>ATY,Adder</string>
				<key>AAPL00,DualLink</key>
				<data>AQAAAA==</data>
				<key>ATY,EFIVersion</key>
				<string>01.01.183</string>
				<key>@0,name</key>
				<string>ATY,Adder</string>
				<key>@3,name</key>
				<string>ATY,Adder</string>
				<key>Force_Load_FalconSMUFW</key>
				<integer>1</integer>
				<key>name</key>
				<string>ATY_GPU</string>
				<key>device_type</key>
				<string>ATY,AdderParent</string>
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Generic</key>
		<dict>
			<key>ROM</key>
			<data>lAGQWlMM</data>
			<key>SystemSerialNumber</key>
			<string>C02DP06EJV3Q</string>
			<key>AdviseWindows</key>
			<false/>
			<key>SystemProductName</key>
			<string>iMac19,1</string>
			<key>SystemUUID</key>
			<string>FE32AF0C-BC55-4547-9A4A-492729C66A45</string>
			<key>MLB</key>
			<string>C02046403J9LNV9FB</string>
			<key>SpoofVendor</key>
			<true/>
		</dict>
		<key>UpdateNVRAM</key>
		<true/>
		<key>Automatic</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
</dict>
</plist>
